.list{
    margin: 0.5rem 0;
}

.task{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: white;
    border-left: 3px rgb(0, 136,  255);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px -1px rgb(1, 56, 104);
}


.deletebutton{
    margin: 0 0.3rem;
    padding: 0.3rem;
    background-color: rgb(255, 100, 100);
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px -1px rgb(102, 32, 32);
    transition: all 0.2s;
}

.deletebutton:hover{
    background-color: rgb(255, 128, 128);
    transform: scale(0.98);
    box-shadow: 0px 1px 2px -1px rgb(102, 32, 32);
}

.editbutton{
    margin: 0 0.3rem;
    padding: 0.3rem;
    background-color: rgb(4, 193, 140);
    color: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px -1px rgb(0, 71, 0);
    transition: all 0.2s;
}

.editbutton:hover{
    background-color: rgb(49, 197, 155);
    transform: scale(0.98);
    box-shadow: 0px 1px 2px -1px rgb(0, 71, 0);
}

.edittask{
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid;
    box-shadow: 0px 2px 4px -1px rgb(0,0,0);
}

.edittask:focus{
    outline: none;
    border-color: rgb(38, 153, 254);
}