.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0.5rem 0;
}

.container{
  width: 100%;
  max-width: 576px;
  margin-top: 20px;
}

.box{
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: aliceblue;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
} 

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
}

/* Mobile */
@media (max-width: 700px) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}